apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: eureka-service
  name: eureka-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-service
  template:
    metadata:
      labels:
        app: eureka-service
    spec:
      containers:
        - image: 4544927/luxoft-eureka-service:0.0.1-SNAPSHOT
          name: luxsoft-eureka-service
          ports:
            - containerPort: 8761
---
apiVersion: v1
kind: Service
metadata:
  name: clear
  labels:
    app: card-serivice
  namespace: default
spec:
  ports:
    - port: 8761
      protocol: TCP
      targetPort: 8761
  selector:
    app: eureka-service
  type: LoadBalancer
---
