version: '3'
services:
  discovery:
    image: 4544927/luxoft-eureka-service:0.0.1-SNAPSHOT
    ports:
      - "8761:8761"

  config-service:
    image: 4544927/luxoft-config-service:0.0.1-SNAPSHOT
    depends_on:
      - discovery
    environment:
      - JAVA_OPTS=
        -DEUREKA_SERVER=http://discovery:8761/eureka
    ports:
      - "8600:8600"

  card-service:
    image: 4544927/luxoft-card-service:0.0.1-SNAPSHOT
    depends_on:
      - discovery
      - config-service
    environment:
      - JAVA_OPTS=
        -DEUREKA_SERVER=discovery
    ports:
      - "8803:8803"